//*********************//
//******IMPORTS********//
//*********************//

@import 'bower_components/bourbon/app/assets/stylesheets/bourbon';
@import 'bower_components/neat/app/assets/stylesheets/neat';

//*********************//
//*******COLORS********//
//*********************//

$darkprimarycolor:#616161;
$primarycolor:#DF815B;
$lightprimarycolor:#f5f5f5;
$accentcolor:#E5D38B;
$primarytextcolor:#96B7C6;
$secondarytextcolor:#727272;
$dividercolor:#A5CDB3;

//********************//
//*******FONTS********//
//********************//

$primaryfont: 'Lato', sans-serif;
$secondaryfont: 'helvetica', sans-serif;
$tertiaryfont: 'sansita-one,' sans-serif;

//********************//
//*******LAYOUT*******//
//********************//
$visual-grid: true !default;
$visual-grid-color: gray !default;



* {
  margin: 0;
  padding: 0;
}

body {
  @include outer-container(block-collapse);
  background-color: white;
  font-family: $secondaryfont;
  font-weight: 100;
  color: $primarytextcolor;
}
a, i {
  cursor: pointer;
  color: $primarycolor;
  &:hover {
    text-decoration: none;
    color: $primarytextcolor;
  }
}




.logo {
  text-align: center;
  color: $primarycolor;
  font-size: 10em;
}

.login-container {
  @include span-columns(12, block-collapse);
  vertical-align: center;
  text-align: center;

}

.login-inputs,
.login-button,
.goal-input,
.goal-button,
.addgoal-button,
.myaccount-button,
.register-button {
  outline: none;
  border: solid 3px $accentcolor;
  border-radius: 5px;
  background-color: white;
  width: 300px;
  color: $primarycolor;
  font-size: 1.5em;
  margin: 5px;
  padding: 15px;
  display: inline-block;
  height: 3em;



&:focus {
  outline: none;
  border-color: $primarycolor;
  box-shadow: 0 0 0 0 $primarycolor;
  background-color: white;
}
}

.cards {
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-around);
  margin-top: 50px;
  @include omega(3n);
  text-align: center;
}

.card {
  $base-spacing: 1em !default;
  $dark-gray: orange !default;
  $base-font-color: $dark-gray !default;
  $card-margin: 3em;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all .2s ease-in-out);
  position: relative;
  margin: 0 $card-margin $base-spacing;
  cursor: pointer;
  text-align: center;


  .card-image {
    overflow: hidden;
    text-align: center;

    img {
      @include transition (all .2s ease-in-out);
      width: 100%;
    }
  }
}


/* .first {
  width: 375px;
  height: 375px;
background-image: url('https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/10861116_10205391607859386_7049947253420727357_o.jpg');  background-size: cover;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center;
  }
 */
.second {
  width: 375px;
  height: 375px;
/* background-image: url('https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11021115_10204004547182634_2388306018798631804_n.jpg?oh=90fa0680420f91ab53cf72f792c6f707&oe=557CC883&__gda__=1434480636_237d2e9aa749d5dbc2fa48bbcf5d426a');  background-size: cover;
 */  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center;
    }

.third{
  display: block;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-position: center;
  width: 375px;
  height: 375px;
    }

.saying {
  font-family: $primaryfont;
  text-align: center;
  font-size: 2em;
  }

.emphasized {
  font-family: $primaryfont;
  color: $primarycolor;
}


//***************************************//
//************** PIE-TIMER **************//
//***************************************//


.circle-timer, .pie-timer {
  width: 220px;
  height: 220px;
  position: relative;
  box-shadow: #ccc 0 0 25px;
  border-radius: 200px;
}

@-webkit-keyframes jasperfade {
  0% {opacity: 0;}
  100% {opacity: 1}
}

@-webkit-keyframes crosbyfade {
  0% {opacity: 1}
  100% {opacity: 0}
}

@-webkit-keyframes timer-slide {
  0%   { -webkit-transform: rotate(-225deg); }
  50%  { -webkit-transform: rotate(-45deg);  }
  100% { -webkit-transform: rotate(-45deg);  }
}

@-webkit-keyframes timer-toggle {
  0%  { opacity: 0; }
  50% { opacity: 0; }
  50.5% {
    -webkit-transform: rotate(-45deg);
    opacity: 1;
  }
  75% {
    border-top-color: transparent;
  }
  76% {
    border-top-color: $primarycolor;
  }
  100% {
    -webkit-transform: rotate(137deg);
    opacity: 1;
    border-top-color: $primarycolor;
  }
}

.timer-l, .timer-r {
  border-radius: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;
  border: 30px solid $primarycolor;
  width: 140px;
  height: 140px;
/*   margin-left: -100px;
margin-top: -100px; */
  border-left-color: transparent;
  border-top-color: transparent;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
}

.timer-l {
  -webkit-animation-name: timer-slide;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  z-index: 5;
  left: 0;
}

.timer-r {
  -webkit-animation-name: timer-toggle;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
}

.timer-slot {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  overflow: hidden;
}

.piecontainer {
  text-align: center;
}

.pie-timer .timer-l, .pie-timer .timer-r {
  height: 0;
  width: 0;
/*   margin: -100px 0 0 -100px; */
  border-width: 100px;
  -webkit-animation-duration: 10s;
}

.biglogo {
  color: $primarycolor;
  font-size: 14em;
}

.animate-container {
  position: absolute;
  height: 300px;
}

.biglogo {
  position: relative;
  top: -127px;
  left: 620px;
  -webkit-animation-name: jasperfade;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 10s;
}


.piecontainer {
  position: relative;
  top: -520px;
  left: 606px;
  -webkit-animation-name: crosbyfade;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-duration: 10s;
}


//*******************************************//
//************** GOAL ROUTE *****************//
//*******************************************//


.goal-title {
  font-family: $primaryfont;
  color: $primarycolor;
  font-size: 1.2em;
}

.form-container {
  text-align: center;
}

.header-container {
  height: 100px;
  margin: 0;
  background-color: blue;
}

.create-button {
  color: $primarycolor;
  font-size: 4.5em;
  text-align: center;
}

.goal {
  font-size: 2em;
  font-family: $primaryfont;

}

.list {
  list-style-type: none;
  @include span-columns(8, block-collapse);
  @include shift(2);
}

.header-icons {
  display: inline-block;
  font-size: 4em;
  color: $primarycolor;
/*   padding: 50px; */
}

.left-container {
border-right: 3px solid $primarycolor;
@include span-columns(6);

}

.header-list{
  text-align: center;
}

.right-container {
}

.todo-header {
  font-family: $primaryfont;
  font-size: 5em;
  text-align: center;
  font-weight: 100;
}
.timer {
  font-family: $primaryfont;
  font-size: 10em;
  text-align: center;
  font-weight: 100;
}

h4 {
  font-family: $primaryfont;
  font-size: 1em;
  font-weight: 100;
}

.btn {
  border: solid 3px $primarycolor;
  border-radius: 5px;
  background-color: white;
  color: $primarycolor;
  margin: 10px;
  padding: 15px;
  font-size: 20px;
  &:hover {
  background-color: transparent;
  border: solid 3px $primarytextcolor;
  color: $primarytextcolor;
  }
}



.login-form, .register-form {
  vertical-align: center;
  text-align: center;
  padding-top: 7em;
}


.change-buttons {
  float: right;
}

.logout-button {
  position: fixed;
  bottom: 30px;
  right: 80px;
  font-size: 1.5em;
  padding: 30px;

}
/*   &:hover {
  display: inline;
}
}

.logout-arrow {
position: absolute;
bottom: 50px;
right: 80px;
font-size: 2.5em;
} */

.bulb {
position: relative;

}
/* .user-icon {
  @include span-columns(1);
  @include shift(9);
  padding: 30px;
} */

.header-list.li {
  @include span-columns(1);
}

.welcomeback {
  position: relative;
  left: -1229px;
}

.header {
  height: 100px;
}

.myaccountlink {
  position: fixed;
  bottom: 30px;
  right: 151px;
  font-size: 1.5em;
  padding: 30px;
}
