<div class="pictures">
  <div class="cards">
    <div class="card">
      <div class="card-image first">
        <!-- <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/11021115_10204004547182634_2388306018798631804_n.jpg?oh=90fa0680420f91ab53cf72f792c6f707&oe=557CC883&__gda__=1434480636_237d2e9aa749d5dbc2fa48bbcf5d426a" alt=""> -->
      </div>
    </div>
    <div class="card">
      <div class="card-image second">
        <!-- <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/10861116_10205391607859386_7049947253420727357_o.jpg" alt=""> -->
      </div>
    </div>
    <div class="card">
      <div class="card-image third">
        <!-- <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xap1/t31.0-8/1559383_10202880597484594_4939740736738427892_o.jpg" alt=""> -->
      </div>
    </div>
  </div>
</div>

<div class="saying">
  <span>This is why<span class="emphasized"></span> you wake up everyday.</span>
  <div>
    <span>Pause and reflect for a moment.</span>
  </div>
</div>

<div class="animate-container">
  <a>
    {{#link-to 'account'}}
      <h1 class="biglogo"><a>{{fa-icon "arrow-circle-down"}}</a></h1>
    {{/link-to}}
  </a>
  <div class="piecontainer">
    <div class="pie-timer">
      <div class="timer-slot">
        <div class="timer-l">
        </div>
      </div>
      <div class="timer-r">
      </div>
    </div>
  </div>
</div>


{{outlet}}
