
<div class="login-container">
  <h1 class="logo">{{fa-icon "arrow-circle-down"}}</h1>
  <div>{{input class="login-inputs" placeholder='Username'}}</div>
  <div>{{input class="login-inputs" type="password" placeholder='Password'}}</div>
  <div>
    {{#link-to 'home'}}
      <button class="login-button">Login</button>
    {{/link-to}}
  </div>
</div>

{{outlet}}
